# Exploratory truth Analysis (EDA)

In this Notebook we explore the the training truth structure given to us and see the problem to be solved in grater detail.

In [1]:
# import libraries : 

import os 
import random 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 

# set random seed : 
np.random.seed( 41 )

# import torch
# import torch.nn as nn 
# import torch.utils.truth as data 
# import torch.functional as F 
# from torch import Tensor 

# from typing import Optional, Tuple

For the purpose of EDA we will only look at a small section of (100 events) of the training data. 

A general description of the data can be found at [Kaggle](https://www.kaggle.com/competitions/trackml-particle-identification/data?select=sample_submission.csv.zip).

In [2]:
# Set a list for train data file types:  
train_FileType = [
    'hits' , 'cells' , 
    'particles' , 'truth'
]

test_FileType = [
    'hits' , 'cells'
]

train_dataset_path = '../data/train_100_events/'

events = [
    code[:-9] for code in os.listdir(train_dataset_path) if code.endswith('-hits.csv') 
]
print(f'lenght of events list: {len(events)}')

# choose a event at random 
event = str(np.random.choice( events ) )
event

lenght of events list: 100

'event000001044'

In [3]:
def read_event_files(path:str,eventid:str,train:bool=True)->dict: 
    if train : 
        FileType = train_FileType 
    else : 
        FileType = test_FileType
    data = {
        ftype : pd.read_csv(path + eventid + '-' + ftype + '.csv' ) for ftype in FileType 
    }
    return data 

event_data = read_event_files(train_dataset_path,event)

In [4]:
event_data.keys()

dict_keys(['hits', 'cells', 'particles', 'truth'])

In [5]:
hits = event_data['hits']
display(hits)
dash = '-'*35
print( "{:<30s}:{:<10d}".format('Total Number of Hits' ,hits.shape[0]) )
print(dash)
print("{:<30s}:{:<10d}".format('Unique volumeId',hits.volume_id.unique().shape[0] ))
print(dash)
print("{:<30s}:{:<10d}".format('Unique layerId',hits.layer_id.unique().shape[0] ))
print(dash)
print("{:<30s}:{:<10d}".format('Unique moduleId',hits.module_id.unique().shape[0]) )

       hit_id         x          y       z  volume_id  layer_id  module_id
0           1  -64.1923  -12.29940 -1502.5          7         2          1
1           2  -57.1259   -8.88443 -1502.5          7         2          1
2           3  -50.0794    1.95183 -1502.5          7         2          1
3           4  -84.5126  -10.53830 -1502.5          7         2          1
4           5  -99.1284  -12.89230 -1502.5          7         2          1
...       ...       ...        ...     ...        ...       ...        ...
93825   93826 -754.1830   40.23210  2944.5         18        12         97
93826   93827 -939.8770   63.34040  2952.5         18        12         98
93827   93828 -933.5140   -1.14643  2952.5         18        12         98
93828   93829 -905.0360  120.24500  2952.5         18        12         98
93829   93830 -977.7520  123.85800  2952.5         18        12         98

[93830 rows x 7 columns]

Total Number of Hits          :93830
-----------------------------------
Unique volumeId               :9
-----------------------------------
Unique layerId                :7
-----------------------------------
Unique moduleId               :2998

In [6]:
x = hits.to_numpy(dtype = int)[: ,[0,*list(range(4,7))]]
x[-1]

array([93830,    18,    12,    98])

In [7]:
cells = event_data['cells']
display( cells )

dash = '-'*35
print( "{:<30s}:{:<10d}".format('Total Number of Cell Entries' ,cells.shape[0]) )

        hit_id   ch0  ch1     value
0            1   312  621  0.323702
1            2   255  491  0.295110
2            3    50  351  0.297374
3            4   245  979  0.207498
4            4   245  978  0.097640
...        ...   ...  ...       ...
516443   93827   635    7  1.000000
516444   93828   101    6  1.000000
516445   93828   102    6  1.000000
516446   93829  1126    4  1.000000
516447   93830  1118   11  1.000000

[516448 rows x 4 columns]

Total Number of Cell Entries  :516448

In [8]:
particles = event_data['particles']
display(particles)

dash = '-'*35
print( "{:<30s}:{:<10d}".format('Total Number of Particels' ,particles.shape[0]) )
print(dash)
print("{:<30s}:{:<10d}".format('Unique q',particles.q.unique().shape[0] ))
print(dash)
print("{:<30s}:{:<10d}".format('Max Nhits',particles.nhits.max() ))
print(dash)
print("{:<30s}:{:<10d}".format('Min Nhits',particles.nhits.min()) )

,particle_id,vx,vy,vz,px,py,pz,q,nhits
0,4503668346847232,-0.038125,0.037116,-0.812826,-0.459110,-0.188714,1.024080,1,13
1,4503874505277440,-0.038125,0.037116,-0.812826,-0.211224,0.027049,1.844940,-1,1
2,4503943224754176,-0.038125,0.037116,-0.812826,-1.652540,-4.047730,4.849760,-1,12
3,4504011944230912,-0.038125,0.037116,-0.812826,-2.964770,-7.360820,9.675020,-1,7
4,4504080663707648,-0.038125,0.037116,-0.812826,-0.270572,-1.108510,1.507600,-1,10
...,...,...,...,...,...,...,...,...,...
8959,792637588866334720,0.013297,-0.011664,5.618780,-0.158405,0.247198,2.792610,1,1
8960,792637657585811456,0.013297,-0.011664,5.618780,0.007935,-0.130331,2.060340,-1,0
8961,792637588883116033,-18.073200,30.568000,343.189000,-0.243690,-0.098887,-0.032140,1,12
8962,792637588883120130,-18.073200,30.568000,343.189000,0.164705,-0.056398,0.005837,1,7
8963,792638482219532288,0.013297,-0.011664,5.618780,0.095434,-0.144722,-0.873867,1,11

Total Number of Particels     :8964
-----------------------------------
Unique q                      :2
-----------------------------------
Max Nhits                     :21
-----------------------------------
Min Nhits                     :0

In [9]:
truth = event_data['truth']
display(truth)

dash = '-'*35
print( "{:<30s}:{:<10.4f}".format('Sum of Weights' ,truth.weight.sum()) )

,hit_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
0,1,387315615267815424,-64.2003,-12.32290,-1502.5,-0.471179,-0.069171,-10.78430,0.000010
1,2,716075914164699136,-57.1105,-8.87768,-1502.5,-0.538323,-0.100206,-14.20230,0.000011
2,3,783649493626126336,-50.0640,1.94813,-1502.5,-0.230373,0.045519,-4.44486,0.000027
3,4,562952289883521024,-84.5067,-10.51950,-1502.5,-0.525577,-0.088762,-9.48532,0.000009
4,5,779123491449339904,-99.1279,-12.87000,-1502.5,-0.702163,-0.058685,-10.58250,0.000015
...,...,...,...,...,...,...,...,...,...
93825,93826,45047334987366400,-753.9030,40.21250,2944.5,-0.387699,0.112258,1.52698,0.000010
93826,93827,121612033345978368,-937.8110,63.20690,2952.5,-0.609649,-0.067115,2.03717,0.000013
93827,93828,698060347424112640,-930.7140,-1.31804,2952.5,-1.714210,-0.107365,5.53359,0.000029
93828,93829,774620853894643712,-901.7360,120.01800,2952.5,-0.338850,0.151078,1.16360,0.000009
93829,93830,288230719749095424,-979.6960,123.92800,2952.5,-1.152330,0.031104,3.57732,0.000019

Sum of Weights                :1.0000

In [9]:
# lets check the particle with the most number of hists : 
maxhit_particleId = event_data['particles'].particle_id[ event_data['particles'].nhits.idxmax() ]
print( 'Particle Id: ' , maxhit_particleId)

maxhit_particle_hits = event_data['truth'][ event_data['truth']['particle_id'] == maxhit_particleId ]
maxhit_particle_hits

Particle Id:  774627107367026688

,hit_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
595,596,774627107367026688,164.5830,46.6279,-1502.000,0.596762,0.125956,-5.32207,0.000004
628,629,774627107367026688,164.1350,46.5335,-1498.000,0.594598,0.125519,-5.32289,0.000004
1787,1788,774627107367026688,142.2610,41.7117,-1302.000,0.593379,0.136102,-5.32282,0.000004
1828,1829,774627107367026688,141.8150,41.6105,-1298.000,0.594345,0.133556,-5.32333,0.000004
3220,3221,774627107367026688,119.9730,36.4958,-1102.000,0.592270,0.144493,-5.32333,0.000004
3271,3272,774627107367026688,119.5280,36.3878,-1098.000,0.591719,0.142714,-5.32397,0.000004
4926,4927,774627107367026688,104.4450,32.6474,-962.000,0.589626,0.150466,-5.32404,0.000004
4978,4979,774627107367026688,104.0030,32.5341,-958.000,0.588614,0.150999,-5.32460,0.000005
6838,6839,774627107367026688,88.5332,28.4517,-818.000,0.587061,0.158545,-5.32507,0.000007
6939,6940,774627107367026688,88.9742,28.5710,-822.000,0.587447,0.159317,-5.32452,0.000006
8981,8982,774627107367026688,75.3201,24.7924,-698.000,0.585992,0.166348,-5.32599,0.000008
9038,9039,774627107367026688,75.7601,24.9173,-702.000,0.585462,0.165868,-5.32508,0.000007
11220,11221,774627107367026688,64.3334,21.6193,-598.000,0.583930,0.174142,-5.32651,0.000010
11259,11260,774627107367026688,64.7723,21.7491,-602.000,0.584381,0.171878,-5.32603,0.000009
12405,12406,774627107367026688,30.0953,10.6820,-284.227,0.577413,0.195627,-5.32777,0.000011
12642,12643,774627107367026688,29.6262,10.5236,-279.903,0.577979,0.195359,-5.32778,0.000012
47476,47477,774627107367026688,325.6250,75.7536,-2948.500,0.581784,0.111341,-5.31999,0.000000
47490,47491,774627107367026688,325.2970,75.6911,-2945.500,0.581372,0.110772,-5.32011,0.000007
48389,48390,774627107367026688,281.5370,67.8852,-2548.500,0.588248,0.099617,-5.32044,0.000007
48402,48403,774627107367026688,281.2060,67.8292,-2545.500,0.588443,0.099283,-5.32050,0.000006
49342,49343,774627107367026688,236.7330,60.3531,-2145.500,0.594316,0.103191,-5.32071,0.000005

In [10]:
# analyise the hits in the dector : 
event_data['hits'][event_data['hits']['hit_id'].isin( maxhit_particle_hits['hit_id'] )]

       hit_id         x        y         z  volume_id  layer_id  module_id
595       596  164.5820  46.6451 -1502.000          7         2         59
628       629  164.1200  46.5438 -1498.000          7         2         61
1787     1788  142.2550  41.7021 -1302.000          7         4         59
1828     1829  141.8100  41.5974 -1298.000          7         4         61
3220     3221  119.9600  36.5098 -1102.000          7         6         59
3271     3272  119.5270  36.3963 -1098.000          7         6         61
4926     4927  104.4450  32.6551  -962.000          7         8         59
4978     4979  104.0120  32.5146  -958.000          7         8         61
6838     6839   88.5443  28.4308  -818.000          7        10         58
6939     6940   88.9878  28.5526  -822.000          7        10         60
8981     8982   75.3153  24.7920  -698.000          7        12         58
9038     9039   75.7609  24.9139  -702.000          7        12         60
11220   11221   64.3287  21.6402  -598.000          7        14         58
11259   11260   64.7659  21.7667  -602.000          7        14         60
12405   12406   30.0970  10.6772  -284.216          8         2         41
12642   12643   29.6240  10.5298  -279.807          8         2         57
47476   47477  325.9830  75.8385 -2948.500         12         2         90
47490   47491  324.9760  75.5793 -2945.500         12         2         93
48389   48390  281.0900  67.8414 -2548.500         12         4         90
48402   48403  280.9730  67.7501 -2545.500         12         4         93
49342   49343  236.8320  60.3808 -2145.500         12         6         93

In [ ]:
# we write a function to plot the trajectories for a given event :

## Analyise the Test Data

In [9]:
test_dataset_path = '../data/test/'

test_events = [
    code[:-9] for code in os.listdir(test_dataset_path) if code.endswith('-hits.csv') 
]

test_event = str( np.random.choice( test_events ) ) 
print(test_event )



data = read_event_files(test_dataset_path , test_event , train = False )

event000000017

In [10]:
data['hits']

        hit_id         x          y       z  volume_id  layer_id  module_id
0            1  -88.2373   -2.15466 -1502.5          7         2          1
1            2  -61.0296  -13.20400 -1502.5          7         2          1
2            3  -58.8054   -3.90085 -1502.5          7         2          1
3            4  -57.2561  -10.09840 -1502.5          7         2          1
4            5  -96.0082  -14.50240 -1502.5          7         2          1
...        ...       ...        ...     ...        ...       ...        ...
131772  131773 -868.9390   38.55390  2944.5         18        12         97
131773  131774 -878.4780   45.46980  2952.5         18        12         98
131774  131775 -885.1880  104.44800  2952.5         18        12         98
131775  131776 -878.9150   38.52360  2952.5         18        12         98
131776  131777 -899.1170   48.69210  2952.5         18        12         98

[131777 rows x 7 columns]

In [11]:
data['cells']

        hit_id   ch0   ch1     value
0            1    72  1033  0.354060
1            2   335   567  0.065760
2            2   335   566  0.246805
3            3   153   514  0.242151
4            3   153   513  0.054948
...        ...   ...   ...       ...
722015  131774   519     1  1.000000
722016  131774   518     1  1.000000
722017  131775  1005     2  1.000000
722018  131776   460     1  1.000000
722019  131777   534     3  1.000000

[722020 rows x 4 columns]

In [12]:
data['cells'].shape[0] / data['hits'].shape[0]

5.4791048513777065

In [13]:
# get the size of the example submittion file in MB: 
os.path.getsize('../data/sample_submission.csv')/( 1024 * 1024 )

145.72127723693848

In [14]:
nrows = 5 
submission = pd.read_csv('../data/sample_submission.csv' , nrows = nrows )

In [15]:
submission

   event_id  hit_id  track_id
0         0       1         0
1         0       2         0
2         0       3         0
3         0       4         0
4         0       5         0

Before we begin we start a breif study of the dector:

In [18]:
path = '../data/detectors.csv'
# check the size of the file :
os.path.getsize( path )/( 1024*1024 )

1.8520984649658203

In [21]:
dector = pd.read_csv(path)
dector

,volume_id,layer_id,module_id,cx,cy,cz,rot_xu,rot_xv,rot_xw,rot_yu,...,rot_yw,rot_zu,rot_zv,rot_zw,module_t,module_minhu,module_maxhu,module_hv,pitch_u,pitch_v
0,7,2,1,-65.7965,-5.17830,-1502.5,0.078459,-0.996917,0.0,-0.996917,...,0.0,0,0,-1,0.15,8.4,8.4,36,0.05,0.05625
1,7,2,2,-139.8510,-6.46568,-1502.0,0.046184,-0.998933,0.0,-0.998933,...,0.0,0,0,-1,0.15,8.4,8.4,36,0.05,0.05625
2,7,2,3,-138.6570,-19.34190,-1498.0,0.138156,-0.990410,0.0,-0.990410,...,0.0,0,0,-1,0.15,8.4,8.4,36,0.05,0.05625
3,7,2,4,-64.1764,-15.40740,-1498.0,0.233445,-0.972370,0.0,-0.972370,...,0.0,0,0,-1,0.15,8.4,8.4,36,0.05,0.05625
4,7,2,5,-136.2810,-32.05310,-1502.0,0.228951,-0.973438,0.0,-0.973438,...,0.0,0,0,-1,0.15,8.4,8.4,36,0.05,0.05625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18723,18,12,94,-895.8950,291.09400,2952.5,0.309017,-0.951057,0.0,0.951057,...,0.0,0,0,1,0.35,66.0,72.0,78,0.12,10.40000
18724,18,12,95,-812.0900,161.53500,2947.5,0.195090,-0.980785,0.0,0.980785,...,0.0,0,0,1,0.35,54.0,64.2,78,0.12,10.40000
18725,18,12,96,-925.3150,176.51300,2955.5,0.187381,-0.982287,0.0,0.982287,...,0.0,0,0,1,0.35,66.0,72.0,78,0.12,10.40000
18726,18,12,97,-826.2270,54.15380,2944.5,0.065403,-0.997859,0.0,0.997859,...,0.0,0,0,1,0.35,54.0,64.2,78,0.12,10.40000
18727,18,12,98,-940.1410,59.14870,2952.5,0.062790,-0.998027,0.0,0.998027,...,0.0,0,0,1,0.35,66.0,72.0,78,0.12,10.40000

Our Goal is to reconstruct the the particle trajectory: i.e. connect the hits that belong to a single trajectory.