# Exploratory Data Analysis (EDA)

In this Notebook we explore the the training data structure given to us and see the problem to be solved in grater detail.

In [1]:
# import libraries : 

import os 
import random 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 

# set random seed : 
np.random.seed( 41 )

# import torch
# import torch.nn as nn 
# import torch.utils.data as data 
# import torch.functional as F 
# from torch import Tensor 

# from typing import Optional, Tuple

For the purpose of EDA we will only look at a small section of (100 events) of the training data. 

A general description of the data can be found at [Kaggle](https://www.kaggle.com/competitions/trackml-particle-identification/data?select=sample_submission.csv.zip).

In [2]:
# Set a list for train data file types:  
train_FileType = [
    'hits' , 'cells' , 
    'particles' , 'truth'
]

dataset_path = '../data/train_100_events/'

events = [
    code[:-9] for code in os.listdir(dataset_path) if code.endswith('-hits.csv') 
]
print(f'lenght of events list {len(events)}')

# choose a event at random 
event = str(np.random.choice( events ) )
event

lenght of events list 100

'event000001044'

In [3]:
def read_event_files(path:str,eventid:str)->dict: 
    data = {
        ftype : pd.read_csv(path + eventid + '-' + ftype + '.csv' ) for ftype in train_FileType
    }
    return data 

event_data = read_event_files(dataset_path,event)

In [4]:
event_data.keys()

dict_keys(['hits', 'cells', 'particles', 'truth'])

In [5]:
data = event_data['hits']
display(data)
dash = '-'*35
print( "{:<30s}:{:<10d}".format('Total Number of Hits' ,data.shape[0]) )
print(dash)
print("{:<30s}:{:<10d}".format('Unique volumeId',data.volume_id.unique().shape[0] ))
print(dash)
print("{:<30s}:{:<10d}".format('Unique layerId',data.layer_id.unique().shape[0] ))
print(dash)
print("{:<30s}:{:<10d}".format('Unique moduleId',data.module_id.unique().shape[0]) )

       hit_id         x          y       z  volume_id  layer_id  module_id
0           1  -64.1923  -12.29940 -1502.5          7         2          1
1           2  -57.1259   -8.88443 -1502.5          7         2          1
2           3  -50.0794    1.95183 -1502.5          7         2          1
3           4  -84.5126  -10.53830 -1502.5          7         2          1
4           5  -99.1284  -12.89230 -1502.5          7         2          1
...       ...       ...        ...     ...        ...       ...        ...
93825   93826 -754.1830   40.23210  2944.5         18        12         97
93826   93827 -939.8770   63.34040  2952.5         18        12         98
93827   93828 -933.5140   -1.14643  2952.5         18        12         98
93828   93829 -905.0360  120.24500  2952.5         18        12         98
93829   93830 -977.7520  123.85800  2952.5         18        12         98

[93830 rows x 7 columns]

Total Number of Hits          :93830
-----------------------------------
Unique volumeId               :9
-----------------------------------
Unique layerId                :7
-----------------------------------
Unique moduleId               :2998

In [6]:
data = event_data['cells']
display( data )

dash = '-'*35
print( "{:<30s}:{:<10d}".format('Total Number of Cell Entries' ,data.shape[0]) )

        hit_id   ch0  ch1     value
0            1   312  621  0.323702
1            2   255  491  0.295110
2            3    50  351  0.297374
3            4   245  979  0.207498
4            4   245  978  0.097640
...        ...   ...  ...       ...
516443   93827   635    7  1.000000
516444   93828   101    6  1.000000
516445   93828   102    6  1.000000
516446   93829  1126    4  1.000000
516447   93830  1118   11  1.000000

[516448 rows x 4 columns]

Total Number of Cell Entries  :516448

In [7]:
data = event_data['particles']
display(data)

dash = '-'*35
print( "{:<30s}:{:<10d}".format('Total Number of Particels' ,data.shape[0]) )
print(dash)
print("{:<30s}:{:<10d}".format('Unique q',data.q.unique().shape[0] ))
print(dash)
print("{:<30s}:{:<10d}".format('Max Nhits',data.nhits.max() ))
print(dash)
print("{:<30s}:{:<10d}".format('Min Nhits',data.nhits.min()) )

,particle_id,vx,vy,vz,px,py,pz,q,nhits
0,4503668346847232,-0.038125,0.037116,-0.812826,-0.459110,-0.188714,1.024080,1,13
1,4503874505277440,-0.038125,0.037116,-0.812826,-0.211224,0.027049,1.844940,-1,1
2,4503943224754176,-0.038125,0.037116,-0.812826,-1.652540,-4.047730,4.849760,-1,12
3,4504011944230912,-0.038125,0.037116,-0.812826,-2.964770,-7.360820,9.675020,-1,7
4,4504080663707648,-0.038125,0.037116,-0.812826,-0.270572,-1.108510,1.507600,-1,10
...,...,...,...,...,...,...,...,...,...
8959,792637588866334720,0.013297,-0.011664,5.618780,-0.158405,0.247198,2.792610,1,1
8960,792637657585811456,0.013297,-0.011664,5.618780,0.007935,-0.130331,2.060340,-1,0
8961,792637588883116033,-18.073200,30.568000,343.189000,-0.243690,-0.098887,-0.032140,1,12
8962,792637588883120130,-18.073200,30.568000,343.189000,0.164705,-0.056398,0.005837,1,7
8963,792638482219532288,0.013297,-0.011664,5.618780,0.095434,-0.144722,-0.873867,1,11

Total Number of Particels     :8964
-----------------------------------
Unique q                      :2
-----------------------------------
Max Nhits                     :21
-----------------------------------
Min Nhits                     :0

In [8]:
data = event_data['truth']
display(data)

dash = '-'*35
print( "{:<30s}:{:<10.4f}".format('Sum of Weights' ,data.weight.sum()) )

,hit_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
0,1,387315615267815424,-64.2003,-12.32290,-1502.5,-0.471179,-0.069171,-10.78430,0.000010
1,2,716075914164699136,-57.1105,-8.87768,-1502.5,-0.538323,-0.100206,-14.20230,0.000011
2,3,783649493626126336,-50.0640,1.94813,-1502.5,-0.230373,0.045519,-4.44486,0.000027
3,4,562952289883521024,-84.5067,-10.51950,-1502.5,-0.525577,-0.088762,-9.48532,0.000009
4,5,779123491449339904,-99.1279,-12.87000,-1502.5,-0.702163,-0.058685,-10.58250,0.000015
...,...,...,...,...,...,...,...,...,...
93825,93826,45047334987366400,-753.9030,40.21250,2944.5,-0.387699,0.112258,1.52698,0.000010
93826,93827,121612033345978368,-937.8110,63.20690,2952.5,-0.609649,-0.067115,2.03717,0.000013
93827,93828,698060347424112640,-930.7140,-1.31804,2952.5,-1.714210,-0.107365,5.53359,0.000029
93828,93829,774620853894643712,-901.7360,120.01800,2952.5,-0.338850,0.151078,1.16360,0.000009
93829,93830,288230719749095424,-979.6960,123.92800,2952.5,-1.152330,0.031104,3.57732,0.000019

Sum of Weights                :1.0000